@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* black text */
  --background-start-rgb: 255, 255, 255; /* white background */
  --background-end-rgb: 255, 255, 255; /* white background */
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* globals.css */
@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/SukhumvitSet-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/SukhumvitSet-Bold') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sukhumvit Bold';
  src: url('/fonts/SukhumvitSet-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}


@font-face {
  font-family: 'Sarabun-Medium';
  src: url('/fonts/Sarabun-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  color: rgb(var(--foreground-rgb)) !important;
  /* font-family: 'Sukhumvit Set', 'sans-serif' !important; */
  background: white !important;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}




@layer components {
  /* .paper_p {
    @apply text-[0.5rem] font-saraban;

  } */
  /* .font_page {
    @apply text-[0.5rem] font-Sukhumvit;
  }
  .font_bold {
    @apply text-[1.5rem] font-SukhumvitBold;
  } */
}

/* Add this to your global styles or a CSS file */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}


.swiper-fraction {
position: absolute !important;
  color: white  !important;
  margin-left: 80% !important;
  top: 3% !important;
}
@media (min-width: 768px) {
  .swiper-fraction {
    margin-left: 95% !important;
  }
}

/* Add this to your stylesheet */
.swiper-button-next,
.swiper-button-prev {
  /* background-color: white; */
  /* padding: 5px 5px; */
  /* width: 60px !important; */
  /* border-radius: 100%; */

  color: white !important;

  
}
.swiper-button-next::after {
  width: 10rem !important;
  max-width: 100px !important;
  font-size:x-large !important;
  margin-right: 5rem;

}
.swiper-button-prev::after {
  width: 10rem !important;
  max-width: 100px !important;
  font-size: x-large !important;
  margin-left: 5rem;
}



.skeleton {
  background-image: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

